section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    // width: calc(100vw);
    padding: 0 15vw;
    background: url('/assets/bg.png');
    background-position: center center;
    background-repeat: no-repeat; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    overflow: hidden;

    article {
        max-width: 450px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        h1 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 3rem;
            line-height: 59px;
            letter-spacing: 0.03em;
        }

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 1.25rem;
            line-height: 24px;
            letter-spacing: 0.03em;

            color: #FFFFFF;
        }

        .header-button {
            padding: 1rem 3rem;
            margin-top: 1rem;
        }
    }

    picture {
        max-height: 879px;
    }
}
@media (max-width: 1382px) {
    section {
        article {
            h1 {
                font-size: 2rem;
            }
            p {
                font-size: .75rem;
            }
        }

        picture {
            max-height: 379px;

            img {
                max-height: 379px;
            }
        }
    }
}
@media (max-width: 868px) {
    section {
        flex-direction: column;
        height: auto;
        padding: 0 5vw;
        align-items: center;

        article {
            margin-top: 110px;
            height: auto;

            h1 {
                font-size: 2rem;
                line-height: 36px;
            }

            p {
                font-size: .75rem;
                line-height: 20px;
                width: 315px;
            }

            .header-button {
                margin: 1rem 0;
            }
        }

        picture {
            max-height: 300px;
            img {
                max-height: 300px;
            }
        }
    }
}