<section id="home">
    <article class="content">
        <h1>Pacote seguro, Coração tranquilo</h1>
        <p>A MOTOHELP LOGÍSTICA foi criada com o objetivo de suprir uma grande carência no mercado de serviços de entregas. Contamos com um departamento operacional qualificado, garantindo assim um atendimento rápido e eficiente, mantendo acima de tudo a segurança, credibilidade e qualidade do serviço.</p>
        <!-- <a href="https://wa.link/udho34" target="_blank" style="color: #fff; text-decoration: none;"><button mat-raised-button color="primary" class="header-button">Help expresso</button></a> -->
    </article>
    <picture>
        <source srcset="/assets/deliver-man.png">
        <img src="/assets/deliver-man.png" alt="Delivery Image" style="width:auto;">
    </picture>
</section>