<section>
    <article class="content">
        <h1>Pacote seguro, Coração tranquilo</h1>
        <p>Mussum Ipsum, cacilds vidis litro abertis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis.</p>
        <button mat-raised-button color="primary" class="header-button">Faça sua cotação on-line</button>
    </article>
    <picture>
        <source media="(min-width:650px)" srcset="/assets/deliver-man.png">
        <source media="(min-width:465px)" srcset="/assets/deliver-man.png">
        <img src="/assets/deliver-man.png" alt="Delivery Image" style="width:auto;">
    </picture>
</section>