<footer id="footer">
    <button mat-raised-button color="primary" class="cotation-button">Cotação On-line</button>

    <div class="footer-list">
        <ul>
            <li><img src="/assets/icons/footer/pin.svg" alt="Local"> Rua Haddock lobo 210, Tijuca</li>
            <li><img src="/assets/icons/footer/mail.svg" alt="Local">atendimento@motohelplogistica.com.br</li>
            <li><img src="/assets/icons/footer/whatsapp-footer.svg" alt="Local">55 21 0000-0000</li>
        </ul>

        <img src="/assets/motohelp-logo.svg" alt="Motohelp Logo">

    </div>

    <nav>
        <ul class="motohelp-menu">
            <li><a href="#">Institucional</a></li>
            <li><a href="#">Serviços</a></li>
            <li><a href="#">Vantagem</a></li>
            <li><a href="#">Parceiros</a></li>
            <li><a href="#">Fale conosco</a></li>
        </ul>
    </nav>

    <h5>
        2022 Copyright - Todos os direitos reservados | Criado por: evolves design
    </h5>
</footer>