footer {
    background: #1E1E1E;
    width: 100%;
    padding: 2rem 5vw;
    padding-top: 4rem;

    .cotation-button {
        border-radius: 15px;
        padding: 1rem 2rem;
    }

    .footer-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;


            li {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.03em;
                color: #FFFFFF;
                margin: .5rem 0;
                display: flex;
                align-items: center;


                img {
                    width: 23px;
                    margin-right: 1rem;
                }
            }
        }

        img {
            width: 205px;
        }
    }

    nav {
        border-top: 1px solid #363636;
        padding: 2rem 0;
        margin-bottom: 2rem;

        .motohelp-menu {
            display: flex;
            list-style: none;
            justify-content: space-around;

            li {
                a {
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    letter-spacing: 0.03em;
                    color: #FFFFFF;
                    text-decoration: none;
                }
            }
        }
    }

    h5 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
}

@media (max-width: 738px) {
    footer {
        nav {
            margin-bottom: 0;
            
            .motohelp-menu {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}