.motohelp-nav {
    background-color: #000000!important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    position: fixed;
    top: 0;
    padding: 0 5vw;
    z-index: 100;
    width: 100%;

    .menu-button {
        display: none;
    }

    .motohelp-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        width: calc(50% - 45px);
    
        li {
            .navbar-button {
                border-radius: 15px;
                padding: 1rem 2rem;
            }
    
            button {
                font-size: 1rem;
                text-decoration: none;
                color: #fff;
                background: transparent;
                cursor: pointer;
    
                &.offer {
                    background-color: #D93938;
                    padding: .5rem 1rem;
                    border-radius: 0.75rem;
                }
            }
        }
    }

}

.mobile-menu {
    display: none;
}

.motohelp-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 100px;
    }
}

@media (max-width: 1088px)
{
    .motohelp-nav {
        height: 60px;
        justify-content: space-between;
        padding: 0 2vw;    
     

        img {
            width: auto;
            height: 56px;
        }

        .menu-button {
            display: block;
            color: #fff;
        }

        .motohelp-menu {
            display: none;
        }
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: calc(60px);
        background: #000000;
        width: 100%;
        max-width: 0;
        visibility: collapse;
        position: fixed;
        transition: all ease-in-out .2s;
        height: 100vh;
        z-index: 100;
        
        &.active {
            width: 90%;
            max-width: 320px;
            visibility: visible;    
            top: 0;
            right: 0;
        }

        ul {
            padding: 0 5vw;

            li {
                padding: 1rem 0;
                list-style: none;

                button {
                    color: #fff;
                    text-decoration: none;
                    background-color: transparent;
                    border: none;
                    
                }
            }
        }
    }
}