<mat-toolbar class="motohelp-nav">
  
    <ul class="motohelp-menu">
      <li><button (click)="scrollToElement('home')">Institucional</button></li>
      <li><button (click)="scrollToElement('servicos')">Serviços</button></li>
      <li><button (click)="scrollToElement('vantagens')">Vantagem</button></li>
    </ul>
    <a routerLink="/" class="motohelp-logo" (click)="scrollToElement('home')">
      <img src="/assets/motohelp-logo.svg" alt="Motohelp Logo">
    </a>
    <ul class="motohelp-menu">
      <li><button (click)="scrollToElement('parceiros')">Parceiros</button></li>
      <li><button (click)="scrollToElement('footer')">Fale conosco</button></li>
      <li><button mat-raised-button color="primary" class="navbar-button" (click)="scrollToElement('budget')">Help expresso</button></li>
    </ul>
    <button mat-icon-button class="menu-button" aria-label="Example icon-button with menu icon" (click)="mobileMenu = !mobileMenu">
      <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
<nav [ngClass]="!mobileMenu ? 'mobile-menu' : 'mobile-menu active'" (click)="closeMenu()">
  <ul class="motohelp-menu">
    <li><button (click)="scrollToElement('home')">Institucional</button></li>
    <li><button (click)="scrollToElement('servicos')">Serviços</button></li>
    <li><button (click)="scrollToElement('vantagens')">Vantagem</button></li>
    <li><button (click)="scrollToElement('parceiros')">Parceiros</button></li>
    <li><button (click)="scrollToElement('footer')">Fale conosco</button></li>
    <li><button mat-raised-button color="primary" class="navbar-button" (click)="scrollToElement('budget')">Help expresso</button></li>
  </ul>
</nav>