<mat-toolbar class="motohelp-nav">
    <ul class="motohelp-menu">
      <li><a href="#">Institucional</a></li>
      <li><a href="#">Serviços</a></li>
      <li><a href="#">Vantagem</a></li>
    </ul>
    <a routerLink="/" class="motohelp-logo">
      <img src="/assets/motohelp-logo.svg" alt="Motohelp Logo">
    </a>
    <ul class="motohelp-menu">
      <li><a href="#">Parceiros</a></li>
      <li><a href="#">Fale conosco</a></li>
      <li><button mat-raised-button color="primary" class="navbar-button">Cotação On-line</button></li>
    </ul>
</mat-toolbar>