<section class="main-budget" id="budget">
    <div class="divider"></div>
    <div class="budget">
        
      <mat-stepper class="budget-form" #stepper *ngIf="!sendLoading" [linear]="true">
        <mat-step [stepControl]="service.rotaFormGroup">
          <form [formGroup]="service.rotaFormGroup">
            <ng-template matStepLabel class="step-name">Rota</ng-template>
           
            <div class="rota">
              
              <ul class="od_forms">
                  <mat-form-field appearance="fill" class="date-field">
                    <mat-label class="label-data">Selecione uma data</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dataCotacao">
                    <mat-datepicker-toggle matIconPrefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                <li>
                  <app-point-field 
                    fieldName="Origem"
                    (pointOut)="onOrigin($event)" class="point-field"></app-point-field>
                </li>
               
                
                <li>
                  <app-point-field fieldName="Destino" (pointOut)="onDestiny($event)" class="point-field"></app-point-field>
                </li>
                <li formArrayName="points" *ngFor="let point of points.controls; index as i">
                  <app-point-field fieldName="Ponto" (pointOut)="onPoint($event, i)" class="point-field"></app-point-field>

                  <button class="btn-remove" type="button" (click)="removePoint(i)">x</button>
                </li>
              </ul>
              
              <button (click)="addPoint()" class="add-point">
                <span class="icon">+</span>
                <span>Adicionar ponto</span>
              </button>
            </div>
            <pre>
            </pre>
            <div class="footer-stepper end">
              <button mat-raised-button 
              matStepperNext 
              color="primary" 
              [disabled]="!service.rotaFormGroup.valid" 
              class="header-button" 
              (click)="confirmRoute(service.rotaFormGroup)">Calcular Rotas</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="service.custoFormGroup">
          <form [formGroup]="service.custoFormGroup">
            <ng-template matStepLabel class="step-name">Help expresso</ng-template>
            <div class="rota">
              <div class="marker-slider">
                <span class="circle active"></span>
                <span class="circle" [ngClass]="secondCircle ? 'active' : ''"></span>
              </div>
              <ul class="od_forms">
                <li>
                  <h4>{{service.rotaFormGroup.controls['origem'].value}}</h4>
                </li>
                
                <li>
                  <h4>{{service.rotaFormGroup.controls['destino'].value}}</h4>
                </li>

                <li *ngIf="service.rotaFormGroup.controls['points'].value.length >= 1">
                  <!-- <pre>{{service.rotaFormGroup.controls['points'].value | json}}</pre> -->
                  <div *ngFor="let item of service.rotaFormGroup.controls['points'].value">
                    <h4>{{ isObject(item) }}</h4>
                  </div>
                </li>
              </ul>
            </div>
            <div class="footer-stepper">
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-raised-button 
              matStepperNext 
              color="primary" 
              [disabled]="!service.custoFormGroup.valid" 
              class="header-button">Continuar</button>
              <!-- <button mat-button matStepperNext class="primary-btn" [disabled]="!service.custoFormGroup.valid" >Continuar</button> -->
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel class="step-name">Solicitar motoboy</ng-template>
          <form [formGroup]="service.cotacaoFormGroup" class="cotacao_form">
            <div class="row">
              <mat-form-field appearance="outline" class="cotacao nome">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
              </mat-form-field>
              <mat-form-field appearance="outline" class="cotacao sobrenome">
                <mat-label>Sobrenome</mat-label>
                <input matInput formControlName="sobrenome">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="cotacao message">
                <mat-label>Deixe uma mensagem</mat-label>
                <textarea matInput
                           formControlName="message"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>
            </div>
          
            <div class="footer-stepper">
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-raised-button 
              matStepperNext 
              color="primary" 
              [disabled]="!service.cotacaoFormGroup.valid"
              class="header-button"
              (click)="sendMessage()">Help expresso</button>
              <!-- <button mat-button  ></button> -->
            </div>
          </form>
        </mat-step>
      </mat-stepper>
      <div class="send-message" *ngIf="sendLoading">
        <div class="loading" *ngIf="sendLoading && notSendedMessage">
          <mat-spinner></mat-spinner>
          <p>Estamos enviando seus dados para um de nossos funcionários... Por favor aguarde...</p>
        </div>
        <div class="sended-message" *ngIf="sendLoading && !notSendedMessage">
          <h1>Cotação enviada!</h1>
          
          <mat-icon aria-hidden="false" aria-label="Check icon" fontIcon="check" class="icon"></mat-icon>

        </div>
      </div>
      <div class="view-map">
        <app-map [route]="route" (enviaForm)="onPopulaCustoForm($event)"></app-map>
      </div>
    </div>
  </section>