.partners {
    padding: 0 5vw;   

    h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.03em;
        color: var(--gray);
        display: block;
        width: 100%;
    }

    .partners-list {
        display: flex;
        gap: 3rem;
        .partner {
            display: flex;
            flex-direction: row;
            width: calc(25% - 2rem);
            margin: 1rem 0;
            padding: 1rem;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 738px) {
    .partners {
        padding-bottom: 2rem;
        
        .partners-list {
            flex-direction: column;
            gap: 1rem;

            .partner {
                width: 100%;
                margin: 0;
            }
        }
    }
}