<div class="partners" id="parceiros">
    <h1>Empresas parceiras</h1>
    <div class="partner-box">
        <ul class="partner-list">
            <li>
                <img src="/assets/partners/Rectangle53.png" alt="Restaurantes">
                <span>Flamengo e Botafogo</span>
            </li>
            <li>
                <img src="/assets/partners/Rectangle46.png" alt="eCommercce">
                <span>Leblon</span>                
            </li>
            <li>
                <img src="/assets/partners/Rectangle42.png" alt="Entrega de documentos">
                <span>Jardim Botânico e Barra</span>                
            </li>
            <li>
                <img src="/assets/partners/Rectangle50.png" alt="Distribuidoras">
                <span>Ipanema</span>                
            </li>
            <li>
                <img src="/assets/partners/Rectangle41.png" alt="Farmácias">
                <span>Flamengo</span>                
            </li>            
        </ul>

    </div>
    <div class="secondary-box">
        <ul class="secondary-partner">
            <li>
                <img src="/assets/partners/Group1885.png" alt="Bar do Elias">
                <span>Flamengo</span>
            </li>
            <li>
                <img src="/assets/partners/Group1885.png" alt="Bar do Elias">
                <span>Botafogo</span>
            </li>
            <li>
                <img src="/assets/partners/Rectangle52.png" alt="Rão Burger">
                <span>Botafogo</span>
            </li>
            <li>
                <img src="/assets/partners/Rectangle44.png" alt="Temakeria e Cia.">
                <span>Jardim Botânico</span>
            </li>
            <li>
                <img src="/assets/partners/Rectangle44.png" alt="Temakeria e Cia.">
                <span>Barra da Tijuca</span>
            </li>
            <li>
                <img src="/assets/partners/image1.png" alt="Food Brands">
                <span>Botafogo</span>
            </li>
            <li>
                <img src="/assets/partners/Rectangle48.png" alt="The Box Sushi">
                <span>Barra da Tijuca</span>
            </li>
            <li>
                <img src="/assets/partners/Rectangle48.png" alt="The Box Sushi">
                <span>Ipanema</span>
            </li>
            <li>
                <img src="/assets/partners/image2.png" alt="Mundo das Pizzas">
                <span>Catete</span>
            </li>           
            <li>
                <img src="/assets/partners/Rectangle47.png" alt="Forneria Vorides">
                <span>Copacabana</span>
            </li>
            <li>
                <img src="/assets/partners/Rectangle49.png" alt="Colégio Pedro II">
                <span>Centro, RJ</span>
            </li>
        </ul>
    </div>
</div>