<div class="partners" id="parceiros">
    <h1>Empresas parceiras</h1>
    <div class="secondary-box">
        <ul class="secondary-partner" appSlidingAnimation>
          <li>
            <div class="img-box"><img src="/assets/partners/brotopizza.png" alt="Broto" height="90px"></div>
            <ul>
              <li>Copacabana</li>
              <li>Botafogo</li>
              <li>Tijuca</li>
              <li>São Francisco</li>
              <li>Icaraí</li>
            </ul>
          </li>

          <li>
            <div class="img-box"><img src="/assets/partners/Rectangle44.png" alt="Temakeria e Cia."></div>
            <ul>
              <li>Barra da Tijuca</li>
              <li>Jardim Botânico</li>
              <li>Tijuca</li>
              <li>Niterói</li>
            </ul>
          </li>

          <li>
            <div class="img-box"><img src="/assets/partners/Burgersrio.png" alt="Burgers.rio" height="90px"></div>
            <ul>
              <li>Copacabana</li>
              <li>Barra da Tijuca</li>
              <li>Tijuca</li>
            </ul>
          </li>

          <li>
            <div class="img-box"><img src="/assets/partners/Group1885.png" alt="Bar do Elias"></div>
            <ul>
              <li>Flamengo</li>
              <li>Botafogo</li>
              <li>Tijuca</li>
            </ul>
          </li>


          <li>
            <div class="img-box"><img src="/assets/partners/DiBlasi.png" alt="Di Blasi" height="90px"></div>
            <ul>
              <li>Tijuca</li>
              <li>Ilha do Governador</li>
            </ul>
          </li>

          <li>
            <div class="img-box"><img src="/assets/partners/eagastronomiabotafogo.jpeg" alt="Entre Amigos" height="90px"></div>
            <ul>
              <li>Barra da Tijuca</li>
              <li>Botafogo</li>
            </ul>
          </li>

          <li>
            <div class="img-box"><img src="/assets/partners/Bombeef.jpeg" alt="Bom Beef" height="90px"></div>
            <span>Olegário</span>
          </li>

          <li>
            <div class="img-box"><img src="/assets/partners/maltabeefclub.png" alt="Malta Beef Club" height="90px"></div>
            <span>Jardim Botânico</span>
          </li>

          <li>
            <div class="img-box"><img src="/assets/partners/image1.png" alt="Food Brands" height="90px"></div>
            <span>Botafogo</span>
          </li>

          <li>
            <div class="img-box"><img src="/assets/partners/Rectangle47.png" alt="Forneria Vorides"></div>
            <span>Copacabana</span>
          </li>

          <li>
            <div class="img-box"><img src="/assets/partners/Rectangle49.png" alt="Colégio Pedro II"></div>
            <span>Centro, RJ</span>
          </li>

          <li>
            <div class="img-box"><img src="/assets/partners/japinhadelivery.avif" alt="Japinha" height="90px"></div>
            <span>Botafogo</span>
          </li>


          
          </ul>
    </div>
</div>
