// #map {
//     width: 45%;
//     height: 70vh;

//     .leaflet-control-container {
//         .leaflet-right {
//             right: 0;
//             display: none!important;
//         }
//     }
// }

// .map-loading {
//     width: 45%;
//     position: absolute;
//     height: 70vh;
//     right: 0;
//     background-color: var(--opacity);
//     z-index: 1000;
//     display: flex;
//     justify-content: center;
//     align-items: center;

//     &.hidden {
//         opacity: 0;
//         visibility: hidden;
//     }

//     ::ng-deep .mat-progress-spinner circle {
//         stroke: var(--red);
//     }


// }

// .leaflet-interactive {
//     stroke: var(--red);
//     stroke-width: 5;
// }


.map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    
    .map-frame {
      height: 100%;
      position: relative;

      #map {
        height: 100%;
        .leaflet-control-container {
          display: none!important;
    
          .leaflet-right {
              right: 0;
              display: none!important;
          }
        } 
      }

      .map-info {
        position: absolute;
        left: calc(50% - 128px);
        bottom: 1.5rem;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(10.5px);
        z-index: 999999;
        padding: 1rem 2rem;
        border-radius: 27px;

        .map-info-header {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          padding-bottom: .5rem;
          border-bottom: .2px solid #B2B3B4;

          .moto {
            width: 60px;
            height: 60px;
            padding: 0.5rem;
            border: 1px solid var(--lightGray);

            img {
              width: 100%;
            }
          }

          .map-info-title{

            margin: 0 0.5rem;

            h2 {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 600;
              font-size: 10px;
              line-height: 12px;
              letter-spacing: 0.03em;             
            }

            span {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 17px;
              letter-spacing: 0.03em;

              color: rgba(30, 30, 30, 0.25);
            }
          }
        }

        .map-info-body {
          display: flex;
          justify-content: space-around;
        }
      }
    }
  }
  
  
  